<a href="https://colab.research.google.com/github/adindapurwita/PSDS-5.0/blob/main/Tugas_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List
List adalah kumpulan data terurut (ordered sequence), bisa diubah elemennya (mutable), bisa ditambahkan elemen baru atau menghapus elemen (changeable), dan merupakan salah satu variabel yang sering digunakan pada python. Serupa, namu tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup muda dengan kurung siku dan elemen yang dipisahkan dengan koma.

Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.

In [1]:
#Contoh list
L1 = [1, 4, 2, 13]
print(type(L1))

<class 'list'>

In [2]:
L2 = ["a", "Python", 3]
print(type(L2))

<class 'list'>

In [3]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'Python', 3]

Indeks di Python (List, Tuple) mulai dari 0

In [4]:
#Sifat - sifat List

#Terurut/ Ordered
print("Memanggil List L1 dengan indeks urutan:", L1[0:3])

#Bisa Diganti/Mutable
L1[1] = 2
print("List L1 setelah diganti elemennya:", L1)

L1 = [1, "dua", True, 2+3j]

#Dapat Diindeks/Slicing
print("Slicing List L1:", L1[3])

#Dapat Diijinkan Duplikasi
L1 = [1,"dua",True, 2+3j, 2+3j]
print("Duplikasi pada List L1: ", L1)

#Dapat mengubah data dengan mengganti elemen tertentu
L1 = [1, "dua", True, 2+3j]
L1[2]=3
print("Data setelah diubah:", L1)

#Dapat menambahkan elemen baru pada data
L1 = [1, "dua", True, 2+3j]
L1.append(20)
print("Data setelah ditambahkan elemennya:", L1)

#Dapat menghapus elemen pada data (remove() = menghapus berdasarkan nama objek)
L1 = [1, "dua", True, 2+3j]
L1.remove(2+3j)
print("Data setelah dihapus elemennya:", L1)

Memanggil List L1 dengan indeks urutan: [1, 4, 2]
List L1 setelah diganti elemennya: [1, 2, 2, 13]
Slicing List L1: (2+3j)
Duplikasi pada List L1:  [1, 'dua', True, (2+3j), (2+3j)]
Data setelah diubah: [1, 'dua', 3, (2+3j)]
Data setelah ditambahkan elemennya: [1, 'dua', True, (2+3j), 20]
Data setelah dihapus elemennya: [1, 'dua', True]

In [5]:
#Menambahkan data menggunakan fungsi extend(menambahkan elemen baru pada list namun elemen tersebut ditambahkan secara individu)
L1 = [1, "dua", True, 2+3j]
L1.extend("nanas")
print(L1)

[1, 'dua', True, (2+3j), 'n', 'a', 'n', 'a', 's']

In [6]:
L1 = [1, "dua", True, 2+3j]
L1.extend(["nanas"])
print(L1)

[1, 'dua', True, (2+3j), 'nanas']

In [7]:
#Menambahkan data menggunakan fungsi insert(menambahkan elemen baru di list pada indeks tertentu)
L1 = [1, "dua", True, 2+3j]
L1.insert(2, 5)
print(L1)

[1, 'dua', 5, True, (2+3j)]

In [8]:
#Menghapus elemen dari list menggunakan fungsi pop() (menghapus berdasarkan indeks)
L1 = [1, "dua", True, 2+3j]
L1.pop(2)
print(L1)

[1, 'dua', (2+3j)]

In [9]:
L1 = [1, "dua", True, 2+3j]
L1.pop()
print(L1)

[1, 'dua', True]

**Latihan 1**

In [ ]:
#Buatlah List kalian sendiri

Hewan = ["Kucing", "Ikan", "Kura-kura", "Hamster", "Ayam"]
print(Hewan)

['Kucing', 'Ikan', 'Kura-kura', 'Hamster', 'Ayam']

**Latihan 2**

In [ ]:
#Ganti elemen yang ada pada List yang kaliat buat

In [ ]:
#Menambahkan data menggunakan fungsi extend(menambahkan elemen baru pada list namun )
Hewan = ["Kucing", "Ikan", "Kura-kura", "Hamster", "Ayam"]
Hewan.extend("Kuda")
print(Hewan)

['Kucing', 'Ikan', 'Kura-kura', 'Hamster', 'Ayam', 'K', 'u', 'd', 'a']

In [ ]:
Hewan = ["Kucing", "Ikan", "Kura-kura", "Hamster", "Ayam"]
Hewan.extend(["Kuda"])
print(Hewan)

['Kucing', 'Ikan', 'Kura-kura', 'Hamster', 'Ayam', 'Kuda']

In [ ]:
#Menambahkan data menggunakan fungsi insert(menambahkan elemen baru di list pada indeks tertentu)
Hewan = ["Kucing", "Ikan", "Kura-kura", "Hamster", "Ayam"]
Hewan.insert(3,"Kuda")
print(Hewan)

['Kucing', 'Ikan', 'Kura-kura', 'Kuda', 'Hamster', 'Ayam']

In [10]:
#Mengubah data
Hewan = ["Kucing", "Ikan", "KUra-kura", "Hamster", "Ayam"]
Hewan[2]="Kijang"
print("Data setelah diubah: ", Hewan)

Data setelah diubah:  ['Kucing', 'Ikan', 'Kijang', 'Hamster', 'Ayam']

#Struktur Data Tuple
Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya dan juga tidak bisa ditambahkan atau dihapus elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [11]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [12]:
T11 = 1, "dua", True, 1+2j
print("ini adalah tuple", T11)

ini adalah tuple (1, 'dua', True, (1+2j))

In [13]:
#Menampilkan tipe struktur data
type(T1)
type(T11)

tuple

**Sifat-sifat Tuple**

In [ ]:
#Terurut/Oreded
T1 = (1, "dua", True, 1+2j)
T1[0:3]

(1, 'dua', True)

In [14]:
#Tidak bisa diganti/Immutable
T1[2]="manusia"

TypeError: ignored

In [ ]:
#Dapat diindeks/slicing
print("elemen kedua dari tuple T1 adalah: ", T1[1])

elemen kedua dari tuple T1 adalah:  dua

In [20]:
#Daoat diijinkan duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [15]:
#tidak dapat menambah elemen baru
T1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [16]:
T1.append(10)
T1.append(50)

AttributeError: ignored

In [17]:
#tidak dapat menghapus elemen
T1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [18]:
T1.remove(1)
T1.remove(f' tuple\t: {T1}')

AttributeError: ignored

**Menggabungkan tuple**

In [21]:
#menggabungkan tuple
T3 = T1 +T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

**Latihan**

In [22]:
#Buatlah tuplemu sendiri
T1 = (2, True, 3+5j)
T2 = ("hello", 7, 5.6)
print(f' tuple 1\t: {T1}')
print(f' tuple 2\t: {T2}')

#Latihan 2
#Buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat
T3 = T1+T2
print(f' tuple 3\t: {T3}')

 tuple 1	: (2, True, (3+5j))
 tuple 2	: ('hello', 7, 5.6)
 tuple 3	: (2, True, (3+5j), 'hello', 7, 5.6)